.n1{
    width: 700px;
    height: 300px;
    background-color: chartreuse;
}
.n2{
    background-color:darkorchid ;
    width: 325px;
    height: 150px;
    margin: -15px 0px;
}
.n3{
    width: 375px;
    height: 300px;
    background-color:gray;
    margin: -166px 326px ;
}
.n4{
    width: 325px ;
    height: 150px;
    background-color: aqua;
}
.n5{
    width:700px ;
    height: 100px;
    background-color: brown;
    margin: -15px 0px;
}
.n6{
    width: 350px;
    height: 700px;
    background-color:blue;
    margin: -717px 700px;
}